[project]
	description = Pacman game on JavaFX
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vladislav (danilchican)
[access "refs/for/refs/*"]
	read = group user/Vladislav (danilchican)
	push = group user/Vladislav (danilchican)
	label-Code-Review = -2..+2 group user/Vladislav (danilchican)
	label-Verified = -1..+1 group user/Vladislav (danilchican)
	rebase = group user/Vladislav (danilchican)
	removeReviewer = group user/Vladislav (danilchican)
	submit = group user/Vladislav (danilchican)
[access "refs/heads/*"]
	read = group user/Vladislav (danilchican)
	create = group user/Vladislav (danilchican)
	push = +force group user/Vladislav (danilchican)
	pushMerge = group user/Vladislav (danilchican)
[access "refs/tags/*"]
	push = +force group user/Vladislav (danilchican)
	pushTag = group user/Vladislav (danilchican)
	pushSignedTag = group user/Vladislav (danilchican)
